body {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
  width: 100%;
  max-width: 280px;
  border-radius: 30px;
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
}

#operation {
  color: #d2d2d2;
  font-size: 1.2em;
  padding: 5px 10px;
  text-align: right;
  min-height: 24px;
}

#output {
  color: #d2d2d2;
  font-size: 3.5em;
  padding: 10px;
  text-align: right;
  min-height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button-grid {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.button-row {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.button {
  border: none;
  width: 60px;
  height: 60px;
  font-size: 1.8em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: filter 0.2s;
  flex-shrink: 0;
}

.control {
  background-color: #a5a5a5;
  color: #1c1c1c;
}

.control:hover {
  filter: brightness(1.2);
}

.operator,
#equals {
  background-color: #ff9f0a;
  color: #fff;
}

.operator:hover,
#equals:hover {
  filter: brightness(1.2);
}

.number {
  background-color: #333333;
  color: #fff;
}

.number:hover {
  filter: brightness(1.2);
}

.operator-row {
  display: flex;
  gap: 12px;
}

.operator-row .grow {
  flex-grow: 1;
  width: calc(60px * 2 + 10px);
  border-radius: 30px;
}